.content-site{
    margin-top: 90px;
}


.property{
    margin-top: 20px;
}

.prix-legal{
    text-align: center;
}

.surface-max, .surface-min{
    font-size: 30px;
    font-weight: bold;
}

.message{
    visibility: hidden;
}